<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{email/base}">
<head>
    <title>Reset your password</title>
</head>
<body>
<div layout:fragment="content">
    <p th:text="'Hi ' + ${name} + ','">Hi John,</p>
    <p>We received a request to reset your password. Click the button below to set a new password.</p>

    <th:block th:replace="~{email/fragments :: button}" />

    <p class="text-muted">This link expires in <span th:text="${expirationMinutes}">30</span> minutes.</p>
    <p class="text-muted">If you did not request a password reset, please ignore this email.</p>
</div>
</body>
</html>
